{% extends 'templates/base.html' %}

{% block content %}

<h4 style="text-align:center; margin-top: 25px;">Attribution</h4>
<div style="text-align: justify; width: 550px; margin: auto">
    <p>
        Kohana reduces an organization's Mean Time To Detect (MTTD) through adversary engagement. This distributed deception  solution is cloud native and guided by the MITRE Engage™ framework.  Kohana was developed by a group out of the University of California, Berkeley in the summer of 2022. The following were involved:
    </p>
    <div style="display:block; margin:auto; width: 175px; padding-left: 25px;">
        <li>Sujith Dhati</li>
        <li>Laura Haddad</li>
        <li>Emma Rochon</li>
        <li>Ismail Kably</li>
        <li>Nate Singer</li>
    </div>
    <p style="margin-top: 20px;">
        This project was made possible through a <b>Research Fellowship</b> from UC Berkeley’s Center for Long Term Cybersecurity (CLTC).
    </p>
    <div style="display:flex; justify-content: center;">
        <img src="static/graphics/about/ischool.png" style="height: 75px; margin: 15px;">
        <img src="static/graphics/about/cltc.png" style="height: 75px; margin: 15px;">
    </div>
</div>

{% if jwt_name != "" %}
<h4 style="text-align:center; margin-top: 40px;">Version Information</h4>
<div style="text-align: center;">
Hive v{{hive_v}}<br>
jQuery v{{jquery_v}}<br>
Bootstrap v{{bootstrap_v}}<br>
Chart.js v{{chart_v}}<br>
</div>
{% endif %}


{% endblock %}