{% extends 'templates/base.html' %}

{% block content %}

<!-- acquire jquery-->
<script type="text/javascript" language="javascript" src="static/js/bundles/jquery-3.6.0.min.js"></script>

<!-- acquire bootstrap-->
<script src="static/js/bundles/bootstrap.min.js"></script>

<!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.min.css" rel="stylesheet">


<div id="sortbar" class="card" style="margin: auto; width: 750px; background-color: rgb(252, 252, 252); margin-top: 20px;">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sorting or whatever
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>

<style>
  hpicon {
      width: 130px;
      height: 130px;
  
      display: block;
      margin: auto;
  
      border-radius: 5px; 
  
      background-color: rgb(225, 225, 225); 
      border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  hpicon:hover {
      background-color: rgb(215, 215, 215); 
      border: 3px solid rgba(0, 0, 0, 0.125);

      cursor: pointer;
  }
  
  .hpiconimg {
      width: 80%;
      height: 80%;

      border-radius: 10px;
  
      display: block;
      margin: auto;
      transform: translateY(13%);
  }
</style>

<!-- create honeypot -->
<modal class="modal fade" id="createHoneypot" tabindex="-1" role="dialog" aria-labelledby="modalCreateHoneypot" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header" style="background-color: rgba(0,0,0,.03)">
        <h5 class="modal-title" style="display: block; margin-left: 165px;">New Honeypot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- content -->
      <div class="modal-body">
        <div style="display:flex; flex-wrap:wrap; margin-bottom: 25px;" style="margin-bottom: 50px;"> 
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/ec2_orange.svg" alt="ec2">
          </hpicon>
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/bottlerocket_orange.svg" alt="bottlerocket">
          </hpicon>
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/ecs_orange.svg" alt="ecs">
          </hpicon>
        </div>
        <div style="display:flex; flex-wrap:wrap; margin-bottom: 25px;" style="margin-bottom: 50px;"> 
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/thinkbox_frost_orange.svg" alt="frost">
          </hpicon>
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/lambda_orange.svg" alt="lambda">
          </hpicon>
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/thinkbox_deadline_orange.svg" alt="deadline">
          </hpicon>
        </div>
        <div style="display:flex; flex-wrap:wrap; margin-bottom: 25px;" style="margin-bottom: 50px;"> 
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/outpost_orange.svg" alt="outpost">
          </hpicon>
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/parallel_orange.svg" alt="parallel">
          </hpicon>
          <hpicon>
            <img class="col hpiconimg" src="static/graphics/endpoint-images/serverless_orange.svg" alt="serverless">
          </hpicon>
        </div>

        <p style="margin: -5px 0; text-align: center;"><i>More services coming soon</i>!</p>
      </div>

      <!-- footer -->
      <div class="modal-footer" style="background-color: rgba(0,0,0,.03);"></div>

    </div>
  </div>
</modal>

<div id="card-container" class="row">
  <!-- build cards-->
  <script type="text/javascript" language="javascript" src="static/js/custom/get-honeypots.js"></script>
</div>

{% endblock %}