{% extends 'templates/base.html' %}

{% block content %}

<!-- CSS acquire bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- JS acquire jquery-->
<script type="text/javascript" language="javascript" src="static/js/bundles/jquery-3.6.0.min.js"></script>

<!-- JS acquire popper-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

<!-- JS acquire bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>



<div id="sortbar" class="card" style="margin: auto; width: 500px; background-color: rgb(252, 252, 252); margin-top: 20px;">
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuSort" data-bs-toggle="dropdown" aria-expanded="false">
    Honeypot Health
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuSort">
      <li><a class="dropdown-item">Honeypot Health</a></li>
      <li><a class="dropdown-item">Honeypot Type</a></li>
      <li><a class="dropdown-item">Honeypot ID</a></li>
      <li><a class="dropdown-item">Owner ID</a></li>
    </ul>
  </div>
</div>



<!-- create honeypot -->
<modal class="modal fade" id="createHoneypot" tabindex="-1" role="dialog" aria-labelledby="modalCreateHoneypot" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header" style="background-color: rgba(0,0,0,.03)">
        <h5 class="modal-title" style="display: block; margin-left: 165px;">New Honeypot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- content -->
      <div class="modal-body">
        <div class="row" style="margin-bottom: 50px;"> 
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/db-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/nas-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
          <hpicon id="hpicon-vps" class="col-auto" style="margin: auto; padding: 10px;
            background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/vps-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
        </div>
        <div class="row" style="margin-bottom: 50px;"> 
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/nas-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/nas-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/vps-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
        </div>
        <div class="row"> 
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/db-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/vps-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
          <hpicon class="col-auto" style="margin: auto; padding: 10px;
              background-color: rgb(225, 225, 225); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.125); border: 1px solid rgba(0, 0, 0, 0.125)">
            <img src="static/graphics/endpoint-images/nas-fill.svg" width="100" height="100" alt="first name">
          </hpicon>
        </div>
      </div>

      <!-- footer -->
      <div class="modal-footer" style="background-color: rgba(0,0,0,.03);"></div>

    </div>
  </div>
</modal>

<div id="card-container" class="row">
  <!-- build cards-->
  <script type="text/javascript" language="javascript" src="static/js/custom/get-honeypots.js"></script>
</div>

{% endblock %}