{% extends 'templates/base.html' %}

{% block content %}

<!-- JS acquire jquery-->
<script type="text/javascript" language="javascript" src="static/js/bundles/jquery-3.6.0.min.js"></script>


<div style="display:flex; justify-content: center;">
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
            <button type="button" class="btn btn-secondary" style="margin-top: 30px;">Select</button>
        </div>
    </div>
        
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
            <button type="button" class="btn btn-secondary" style="margin-top: 30px;">Select</button>
        </div>
    </div>
        
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
            <button type="button" class="btn btn-secondary" style="margin-top: 30px;">Select</button>
        </div>
    </div>

    <div class="profile-container" style="margin: 50px 30px">
        <div class="rightbox">
            <div class="rb-container">
                <ul class="rb">
                <div style="margin-left: 125px; margin-bottom: 25px;">
                    <h1 style="color:rgb(240,240,240); font-size: 30px;">Fatal-Prime-Champion</h1>
                    <div style="margin-bottom: 10px;">
                        <span class="badge bg-secondary">Web App</span>
                        <span class="badge bg-secondary">Microservice</span>
                        <span class="badge bg-secondary">DSB-3</span>
                        <span class="badge bg-secondary">AWS</span>
                    </div>
                    <p style="color: rgb(210,210,210); font-size: 12px; text-align: justify;">Designe to confidently identify DSB 3 attackers, this profile is built with three microservices. First an attacker will identify a script containing a S3 backup URI. From that URI the attacker will derive a private key to compromise the EC2 jump box. Using that jumpbox, the attacker will exploit a FTP server in the final simuated app engine.</p>
                </div>
                
                
                <li>
                    <div class="honeypot-title">S3 Backup Bucket</div>
                    <div class="honeypot-subtitle">92c75190-f3ff-11ec-a661-000c2970a8e4</div>
                    <div class="honeypot-description">This S3 bucket contians a number of backups identified by a script put on the system using endpoint protection.</div>
                </li>
        
                <li class="rb-item" ng-repeat="itembx" style="/*color: rgb(0, 175, 15)*/color: rgb(175, 0, 0)">
                    <div class="honeypot-title">EC2 Microservice Jump Box</div>
                    <div class="honeypot-subtitle">859a277c-f3ff-11ec-a661-000c2970a8e4</div>
                    <div class="honeypot-description">A private key derived from the previous backups allow SSH access with the "ubuntu" user on the default port 22/tcp.</div>
                </li>
                
                <li class="rb-item" ng-repeat="itembx" style="/*color: rgb(0, 175, 15)*/color: rgb(175, 0, 0)">
                    <div class="honeypot-title">ECS Web App Engine</div>
                    <div class="honeypot-subtitle">b5dd020a-0652-11ed-8900-000c2970a8e4</div>
                    <div class="honeypot-description">Using the jumbox compromise, the attacker compromises internally accessible microservices as a webapp.</div>
                </li>
                </ul>

                <status>
                    <div id="l1" class="line" style="top: 242px; left: 147px;"></div>
                    <div id="l2" class="line" style="top: 379px; left: 147px;"></div>
                    <dot id="c1" class="status-dot" style="top: 232px; left: 137px;"><centerdot class="small-dot"/></dot>
                    <dot id="c2" class="status-dot" style="top: 364px; left: 137px;"><centerdot class="small-dot"/></dot>
                    <dot id="c3" class="status-dot" style="top: 496px; left: 137px;"><centerdot class="small-dot"/></dot>
                </status>        
            </div>
        </div>

        <div class="leftbox">
            <div style="height: 70px;"></div>
            <img src="static/graphics/hp-controls/play-circle.svg" class="profile-control" onclick='alert("start")'/>
            <img src="static/graphics/hp-controls/arrow-down-circle.svg" class="profile-control" onclick='alert("download")'/>
            <img src="static/graphics/hp-controls/stop-circle.svg" class="profile-control" onclick='alert("stop")'/>
            <img src="static/graphics/hp-controls/x-circle.svg" class="profile-control" onclick='alert("purge")'/>
        </div>
    </div>

    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
            <button type="button" class="btn btn-secondary" style="margin-top: 30px;">Select</button>
        </div>
    </div>

    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
            <button type="button" class="btn btn-secondary" style="margin-top: 30px;">Select</button>
        </div>
    </div>

    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
            <button type="button" class="btn btn-secondary" style="margin-top: 30px;">Select</button>
        </div>
    </div>
</div>

<hr style="width: 700px; display: block; margin: 5px auto 20px auto;"/>

<div style="display: flex; justify-content: center; align-items: center;">
    <div class="arrow">❮</div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot big"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="arrow">❯</div>
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

    .small-dot {
        background-color: rgba(10, 10, 10, 0.8);
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }

    .status-dot {
        position: absolute; 
        background-color: rgb(0, 175, 0);
        border-radius: 100%;
        width: 25px;
        height: 25px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle-degraded-immediate {
        background-color: rgb(175, 0, 0);
    }


    .circle-degraded {
        animation: fade 0.64s forwards;
    }
    @keyframes fade {
    99.9% {
        background-color: rgb(0, 175, 0);
    }
    100% {
        background-color: rgb(175, 0, 0);
    }
}

    .line{
        position: absolute;
        width:5px;
        height:137px;

        background-size:100% 200%;
        background-image:linear-gradient(to bottom, rgb(0, 140, 0) 50%, rgb(140, 0, 0) 50%);

        -webkit-transition:background-position 1s;
        -moz-transition:background-position 1s;
        transition:background-position 1s;
    }


    .line-degraded-immediate {
        background-image:linear-gradient(to bottom, rgb(140, 0, 0) 50%, rgb(140, 0, 0) 50%);
    }

    .line-degraded {
        background-position:0 -100%;
    }

    .dot {
        background-color: rgb(220,220,220);
        border: white;

        border-radius: 100%;
        margin: 0 10px;
    }
    .dot:hover {
        background-color: rgb(200,200,200);
        cursor: pointer;
    }

    .big { width: 25px; height: 25px; }
    .small { width: 15px; height: 15px; }


    .arrow {
        color: rgb(220,220,220);
        font-size: 40px;
        margin: 0 10px;
        line-height: 15px;
    }
    .arrow:hover {
        color: rgb(200,200,200);
        cursor: pointer;
    }
    .focus-button {
        display: block;
        margin: auto;
        width: 150px;
        height: 40px;
        background-color: black;
        border-radius: 5px;
    }

    .focus-button {
        cursor: pointer;
    }
    
    html {
        overflow-x: hidden;
    }

    .dumy-test {
        min-width:360px; 
        height: 400px; 
        margin: 130px 10px;

        border-radius: 5px;
        background-color: rgb(219, 218, 218); 
        border: black solid 1px;

        box-shadow: 3px 3px 3px 3px rgba(119, 119, 119, 0.1);

    }

    .dumy-test:hover {
        box-shadow: 3px 3px 3px 3px rgba(119, 119, 119, 0.2);
    }

    .profile-control {
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 100%;
        background-color: rgb(151, 151, 151);
    }

    .profile-control:hover {
        background-color: rgb(131, 131, 131);
        cursor:pointer;
    }

    .profile-container {
    background: #303236;
    width: 520px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px 10px 10px rgba(119, 119, 119, 0.2);
    }

    .leftbox {
    position: relative;
    top: -5%;
    left: 5%;
    width: 15%;
    height: 110%;
    background-color: #d88c00;
    top: -105%;
    }

    nav {
    margin: 2.6em auto;
    }

    nav a {
    list-style: none;
    padding: 35px;
    color: #232931;
    font-size: 1.1em;
    display: block;
    transition: all 0.5s ease-in-out;
    }

    .rightbox {
    padding: 0em 34rem 0em 0em;
    height: 100%;
    }

    .rb-container {
    font-family: "PT Sans", sans-serif;
    width: 75%;
    margin: auto;
    display: block;
    position: relative;
    left:0;
    }

    .rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
    }

    .rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 10em;
    min-height: 50px;
    padding: 0 0 50px 30px;
    position: relative;
    }

    ul.rb li .honeypot-title {
    color: #ffb52c;
    position: relative;
    width: 300px;
    font-size: 15px;
    }

    ul.rb li .honeypot-subtitle {
    color: #b1b1b1;
    position: relative;
    width: 300px;
    font-size: 10px;
    }

    ul.rb li .honeypot-description {
    color: #fff;
    position: relative;
    margin-top: 7px;
    width: 300px;
    font-size: 12px;
    }
</style>

<!-- Start listening for updates -->
<script type="text/javascript" language="javascript" src="static/js/custom/plotline.js"></script>

{% endblock %}