{% extends 'templates/base.html' %}

{% block content %}
<div style="display:flex; justify-content: center;">
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
        </div>
    </div>
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
        </div>
    </div>
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
        </div>
    </div>

    <div class="profile-container" style="margin: 50px 30px;">        
        <div class="rightbox">
            <div class="rb-container">
            <ul class="rb">
            <div style="margin-left: 125px; margin-bottom: 25px;">
                <h1 style="color:rgb(240,240,240); font-size: 30px;">Fatal-Prime-Champion</h1>
                <div style="margin-bottom: 10px;">
                    <span class="badge bg-secondary">Web App</span>
                    <span class="badge bg-secondary">Microservice</span>
                    <span class="badge bg-secondary">DSB-3</span>
                </div>
                <p style="color: rgb(210,210,210); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt.</p>
            </div>
            
            
            <li class="rb-item" ng-repeat="itembx" style="/*color: rgb(0, 175, 15)*/color: rgb(175, 0, 0)">
                <div class="honeypot-title">S3 Resource Bucket</div>
                <div class="honeypot-subtitle">92c75190-f3ff-11ec-a661-000c2970a8e4</div>
                <div class="honeypot-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
            </li>
    
            <li class="rb-item" ng-repeat="itembx" style="/*color: rgb(0, 175, 15)*/color: rgb(175, 0, 0)">
                <div class="honeypot-title">EC2 Jump Box Instance</div>
                <div class="honeypot-subtitle">92c75190-f3ff-11ec-a661-000c2970a8e4</div>
                <div class="honeypot-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
            </li>
            
            <li class="rb-item" ng-repeat="itembx" style="/*color: rgb(0, 175, 15)*/color: rgb(175, 0, 0)">
                <div class="honeypot-title">ECS Web Application</div>
                <div class="honeypot-subtitle">92c75190-f3ff-11ec-a661-000c2970a8e4</div>
                <div class="honeypot-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
            </li>
            </ul>
        
            </div>
        </div>

        <div class="leftbox">
            <div style="height: 70px;"></div>
            <img src="static/graphics/hp-controls/play-circle.svg" class="profile-control" onclick='alert("start")'/>
            <img src="static/graphics/hp-controls/arrow-down-circle.svg" class="profile-control" onclick='alert("start")'/>
            <img src="static/graphics/hp-controls/stop-circle.svg" class="profile-control" onclick='alert("clicked")'/>
            <img src="static/graphics/hp-controls/x-circle.svg" class="profile-control" onclick='alert("clicked")'/>
        </div>
    </div>

    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
        </div>
    </div>
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
        </div>
    </div>
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
        </div>
    </div>
</div>

<hr style="width: 700px; display: block; margin: 5px auto 20px auto;"/>

<div style="display: flex; justify-content: center; align-items: center;">
    <div class="arrow">❮</div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot big"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="dot small"></div>
    <div class="arrow">❯</div>
</div>

<style>
    .dot {
        background-color: rgb(220,220,220);
        border: white;

        border-radius: 100%;
        margin: 0 10px;
    }
    .dot:hover {
        background-color: rgb(200,200,200);
        cursor: pointer;
    }

    .big { width: 25px; height: 25px; }
    .small { width: 15px; height: 15px; }


    .arrow {
        color: rgb(220,220,220);
        font-size: 40px;
        margin: 0 10px;
        line-height: 15px;
    }
    .arrow:hover {
        color: rgb(200,200,200);
        cursor: pointer;
    }
</style>

<!--
    <div class="dumy-test">
        <div style="text-align: center; transform: scale(0.8); position: relative; top: 28%">
            <h1 style="color:#464646; font-size: 25px;">Fatal-Prime-Champion</h1>
            <div style="margin-bottom: 10px; display: block; margin:auto; margin-bottom: 30px;">
                <span class="badge bg-secondary">Web App</span>
                <span class="badge bg-secondary">Microservice</span>
                <span class="badge bg-secondary">DSB-3</span>
            </div>
            <p style="color: rgb(82, 82, 82); font-size: 12px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat. Duis luptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat occaecat occaecat cupidatat non proident, sunt.</p>
        </div>
    </div>
-->


<style>
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

html {
    overflow-x: hidden;
}

.dumy-test {
    min-width:360px; 
    height: 400px; 
    margin: 130px 10px;

    border-radius: 5px;
    background-color: rgb(219, 218, 218); 
    border: black solid 1px;


}

.profile-control {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 100%;
    background-color: rgb(151, 151, 151);
}

.profile-control:hover {
    background-color: rgb(131, 131, 131);
    cursor:pointer;
}

.profile-container {
  background: #303236;
  width: 520px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
}

.leftbox {
  position: relative;
  top: -5%;
  left: 5%;
  width: 15%;
  height: 110%;
  background-color: #d88c00;
  top: -105%;
}

nav {
  margin: 2.6em auto;
}

nav a {
  list-style: none;
  padding: 35px;
  color: #232931;
  font-size: 1.1em;
  display: block;
  transition: all 0.5s ease-in-out;
}

.rightbox {
  padding: 0em 34rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 75%;
  margin: auto;
  display: block;
  position: relative;
  left:0;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 50px;
  //border-left: 2px dashed rgba(255, 255, 255, 0.856);
  border-left: 4px solid rgba(175, 0, 0, 0.856);
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -11px;
  top: 0;
  content: " ";
  border: 8px solid;
  border-radius: 500%;
  background: #232931;
  height: 20px;
  width: 20px;
}

ul.rb li .honeypot-title {
  color: #ffb52c;
  position: relative;
  width: 300px;
  font-size: 15px;
}

ul.rb li .honeypot-subtitle {
  color: #b1b1b1;
  position: relative;
  width: 300px;
  font-size: 10px;
}

ul.rb li .honeypot-description {
  color: #fff;
  position: relative;
  margin-top: 7px;
  width: 300px;
  font-size: 12px;
}




</style>

{% endblock %}