{% extends 'templates/base.html' %}

{% block content %}

<!-- acquire bootstrap-->
<script src="static/js/bundles/bootstrap.min.js"></script>

<!-- acquire fonts-->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="apt" style="margin: auto; margin-top: 50px;">
    <img class="apt-flag" src="/static/graphics/flags/kp.svg"/>
    <div class="apt-abreviation">Lz</div>
    <div class=apt-name>Lazarus</div>
    <div class=apt-ident>
        <div class="apt-ident-num">38</div>
        <div class="apt-ident-divider"></div>
        <div class="apt-ident-dsb">DSB 5</div>
    </div>
</div>

<style>
.apt {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    overflow:hidden;
    background-color: rgb(245,245,245);
    box-shadow: 10px 10px 10px 10px rgba(105, 105, 105, 0.1);
}

.apt:hover {
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px 10px rgba(105, 105, 105, 0.2);
    cursor: pointer;
}

.apt-flag {
    position: relative;
    top: -20px;
    left: -25px;

    width: 150px;
    height: 150px;

    filter: drop-shadow(5px 5px 5px rgba(105, 105, 105, 0.1));
}

.apt-abreviation {
    margin-top: -100px;
    font-family: "Montserrat";
    font-size: 250px;
    font-weight: bold;

    text-align: center;
}

.apt-name {
    position: sticky;
    bottom: 20px;

    font-family: "Montserrat";
    font-size: 75px;

    text-align: center;
}

.apt-ident {
    width: 30%;
    height: 30%;

    position: relative;
    top: -530px;
    left: 340px;
}

.apt-ident-num {
    font-family: "Montserrat";
    font-size: 60px;
    text-align: center;
}

.apt-ident-divider {
    height: 4px;
    width: 60%;
    margin: auto;
    margin-top: -10px;
    background-color: rgb(50,50,50);
    border-radius: 10px;;
}

.apt-ident-dsb {
    font-family: "Montserrat";
    font-size: 30px;
    text-align: center;
}
</style>

{% endblock %}